.board {
  background-color: purple;
  padding: 20px;
}

.board .row {
  display: flex;
}

.board .row .square {
  background-color: red;
  border: 2px gray solid;
  height: 20px;
  width: 20px;
  padding: 10px;
}